<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>go2rtc</title>
	<link rel="stylesheet" type="text/css" src="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"/>	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!--<link type="text/css" rel="stylesheet" src="css/main.css" />-->
	
    <style>
	html {
	  overflow: auto;
	  min-width: 1366px;
	  min-height: 768px;
	}

	html, body {
	  width: 100%;
	  height: 100%;
	  margin:0;
	  padding:0;
	}
	body {
		font-family: Arial, Helvetica, sans-serif;
		background-color: white;
	}
	.maincontainer{
		width:100%;
	}
	
	table {
		background-color: white;
		text-align: left;
		border-collapse: collapse;
	}

	table td, table th {
		border: 1px solid black;
		padding: 5px 5px;
	}

	table tbody td {
		font-size: 13px;
	}

	table thead {
		background: #CFCFCF;
		background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
		border-bottom: 3px solid black;
	}

	table thead th {
		font-size: 15px;
		font-weight: bold;
		color: black;
		text-align: center;
	}

	label {
		display: flex;
		align-items: center;
	}

	/*.header {
		padding: 5px 5px;
	}*/

	/*.controls {
		display: flex;
		padding: 5px;
	}

	.controls > label {
		margin-left: 10px;
	}*/
	.info{
		display:none;
	}
	.video_holder,
	.video_holder .videoPanel,
	#streams{
		padding:0;
		margin:0;
		width: 100%;
	}	
	.videoPanel{
		display:flex;
		width: fit-content;
	}
	.vms-resizable-panel.maximized{
		width: 253px;
	  top: 0px;
	  bottom: 10px;
	  /* bottom: 2px; #818389*/
	  background-color:#292d35; 
	  overflow: hidden;
	  min-width: 200px;
	}
	#videos_list .itemDrag{
	  padding: 10px 0 0 10px;
		color: whitesmoke;
	}
	.grid_holder{
	    width: calc(100% - 253px);
	}
	.grid-container{
	    width: 100%;
	}
	.grid_item{
		border:1px solid #818389;
		display: inline-flex;
		vertical-align: top;
		background: #292d35;
	}
	.grid_item video{
		object-fit: cover;
	}
	.main-header-container{
		background-color:blue;
		padding: 10px 6px;
		color: white;
	}
	.itemDrag{
		cursor:pointer;
	}
	#vms-layout-tabs-options {
		/*position: absolute;
		top: 0;
		height: 35px;*/
		color: #d0d0cc;
		padding: 5px 10px;
		width: 100%;
		display:flex;
		background-color:#292d35; 
	}
	.layout{
		padding:0 15px;
		cursor:pointer;
	}
    </style>
</head>
<body>
<script src="main.js"></script>
<script type="module" src="video-stream.js"></script>
<div class="info"></div>
<div class="header">
    <!--<input id="src" type="text" placeholder="url">
    <a id="add" href="#">add</a>-->
</div>
<header class="main-header-container flex-between">
    <div class="flex-start">
        <div class="main-header-item-container logo-container">            
           <!--<img src="/images/logo_text_white_sm.png" style="width:auto;height:auto;margin-top: 6px;">-->
		   Vicon Valerus
        </div>
		<div class="main-header-item-container navigation-container" ng-controller="navController">
		</div>
	</div>
</header>

<table id="streams1">
    <!--<thead>
    <tr>
        <th>Name</th>
        <th>Online</th>
        <th>Commands</th>
    </tr>
    </thead>-->
    <tbody>
    </tbody>
</table>
<div class="maincontainer">
	<div class="hide" id="streams">
		<div class="video_holder">
			<div class="videoPanel">
				<div class="vms-resizable-panel left maximized">
				
					<header class="vms-panel-header" id="vms-resource-panel-header">
						<!--<i class="vms-panel-toggle-icon vicon-font v-collapse-left" data-panel-resizer="" data-action="minimize" data-panel-name="resources" should-be-open=""></i>-->
						<div class="vms-resizable-panel-caption text-overflow" style="max-width: 120px; padding: 0px; color: rgb(199, 203, 209); font-weight: bold; direction: ltr;" data-language-aware="innertext" data-panel-resizer="" data-action="minimize" data-panel-name="resources" should-be-open="">Resources</div>
						<!--<section id="vms-resource-grouping-container" sections-to-show="resources;groups" tree-mode="groupView">
						<div data-language-aware="title" title="Grouped List" class="vms-resources-filter-options-button vicon-font v-list-tree active" id="monitoring-switch-to-tree-btn" ng-click="switchMode(treeState.groupView)" ng-show="sections.groups" role="button" tabindex="0" aria-hidden="false" style="direction: ltr;"></div>
						<div data-language-aware="title" title="List By Type" class="vms-resources-filter-options-button vicon-font v-list-plain" id="monitoring-switch-to-accordion-btn" ng-click="switchMode(treeState.resourcesView)" ng-show="sections.resources" role="button" tabindex="0" aria-hidden="false" style="direction: ltr;"></div>-->
						</section>
					</header>
					<div id="videos_list"></div>
					
				</div>
				<div class="grid_holder">
					<header class="vms-panel-header">
						<div id="vms-layout-tabs-options">
							<div class="vms-resizable-panel-caption text-overflow">Change Layout</div> 
							<div class="layout layout_6X6" data-grid="6X6">6X6</div>
							<div class="layout layout_2X2" data-grid="2X2">2X2</div>
						</div>
					</header>
					<div class="grid-container">	
					</div>
					<div id="videos">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="module">
    /*const templates = [
        '<a href="stream.html?src={name}">stream</a>',
        '<a href="webrtc.html?src={name}">2-way-aud</a>',
        '<a href="links.html?src={name}">links</a>',
        '<a href="#" data-name="{name}">delete</a>',
    ];*/
	const templates = [
        '<a href="stream.html?src={name}">stream</a>'
    ];
	const streamurls = [
        "rtsp://ADMIN:1234@69.74.63.73:554/stream1_1",
        "rtsp://ADMIN:1234@69.74.63.73:554/stream1_2",
        "rtsp://ADMIN:1234@69.74.63.73:554/stream1_3",
		"rtsp://172.20.1.38/ch1/stream1",
		"rtsp://172.20.0.115/ch1/stream1"
    ];
	
	

	//const tbody = document.querySelector("#streams > tbody");
    //document.querySelector("#add").addEventListener("click", () => {
	function addStreamList(){
		console.log(' >>> addStreamList() function  >>> ');
            //const src = document.querySelector("#src");
            const url = new URL("api/streams", location.href);
			if(streamurls.length > 0){
                
                streamurls.forEach(function(streamurl, index){
                    console.log( streamurl+ ": url : "+index );
                    if(streamurl){
                        url.searchParams.set("src", streamurl);
                        fetch(url, {method: "PUT"}).then(reload);
                    }
                });
            }
            //url.searchParams.set("src", src.value);
            //fetch(url, {method: "PUT"}).then(reload);
			}
     //   });

    /*document.querySelector(".controls > button")
        .addEventListener("click", () => {
            const url = new URL("stream.html", location.href);

            const streams = document.querySelectorAll("#streams input");
            streams.forEach(i => {
                if (i.checked) url.searchParams.append("src", i.name);
            });

            if (!url.searchParams.has("src")) return;

            let mode = document.querySelectorAll(".controls input");
            mode = Array.from(mode).filter(i => i.checked).map(i => i.name).join(",");

            window.location.href = `${url}&mode=${mode}`;
        });*/

    
    /*tbody.addEventListener("click", ev => {
        if (ev.target.innerText !== "delete") return;

        ev.preventDefault();

        const url = new URL("api/streams", location.href);
        url.searchParams.set("src", ev.target.dataset.name);
        fetch(url, {method: "DELETE"}).then(reload);
    });*/
	
    function reload() {
        const url = new URL("api/streams", location.href);
        fetch(url, {cache: 'no-cache'}).then(r => r.json()).then(data => {
            //tbody.innerHTML = "";
			$("#videos_list").empty();
            for (const [name, value] of Object.entries(data)) {
                const online = value && value.consumers ? value.consumers.length : 0;
                const src = encodeURIComponent(name);
                const links = templates.map(link => {
                    return link.replace("{name}", src);
                }).join(" ");

                const tr = document.createElement("tr");
				const nameArr = name.split("/");
				const streamName = nameArr[nameArr.length -1];
				const displayName = (((nameArr[2].split("@")).length ==2)?(nameArr[2].split("@"))[1] : nameArr[2]) + (((streamName.split("_")).length == 2)? ("_"+(streamName.split("_"))[1]) : "");
				console.log(name.split("/"), ' : ', displayName);
                tr.dataset["id"] = name;
                tr.innerHTML =
                    `<td><label><input type="checkbox" name="${name}">${name}</label></td>` +
                    `<td><a href="api/streams?src=${src}">${online} / info</a></td>` +
                    `<td>${links}</td>`;
                //tbody.appendChild(tr);
				
				$("#videos_list").append(
                    `<div class="itemDrag" data-id="${name}" >&nbsp;${displayName}</div>`                
                );
				
				$(".itemDrag").draggable({
					containment: ".video_holder",
					 appendTo: ".grid-container",
					 helper: "clone",
					 start: function() {},
					 stop: function() {
					   console.log('stopped dragging', $(this).data('id'));
					   //var thisid = $(this).attr('id');
					   //$("#remotevideo"+thisid).removeClass('hide');
					 }
				});
				$(".grid_item").droppable({
						drop: function(event, ui) {
							var drgID = ui.draggable.data("id");
							var drpID = $(this).attr('id');
							console.log('dropped here: ', drpID);
							//console.log('drag - ', id, ' is dropped ', $(this).attr('id'));
							//loadStream(drgID, drpID);
							loading(drgID, drpID);
						}
				});
            }
        });
    }

    const url = new URL("api", location.href);
    fetch(url, {cache: 'no-cache'}).then(r => r.json()).then(data => {
       // const info = document.querySelector(".info");
       // info.innerText = `Version: ${data.version}, Config: ${data.config_path}`;
    });
	//--------------------------
	function loading(strURL, grid){
		/*
		search::  ?src=rtsp%3A%2F%2FADMIN%3A1234%4069.74.63.73%3A554%2Fstream1_1
		stream.html?src=rtsp%3A%2F%2FADMIN%3A1234%4069.74.63.73%3A554%2Fstream1_1:49 modes:  ['']
		stream.html?src=rtsp%3A%2F%2FADMIN%3A1234%4069.74.63.73%3A554%2Fstream1_1:53 streams:  ['rtsp://ADMIN:1234@69.74.63.73:554/stream1_1']
		video-stream.js:51 stream.onconnect
		stream.html?src=rtsp%3A%2F%2FADMIN%3A1234%4069.74.63.73%3A554%2Fstream1_1:61 ---- video details --- 
		stream.html?src=rtsp%3A%2F%2FADMIN%3A1234%4069.74.63.73%3A554%2Fstream1_1:62 background:  true
		stream.html?src=rtsp%3A%2F%2FADMIN%3A1234%4069.74.63.73%3A554%2Fstream1_1:63 mode:  0 /  / webrtc,mse,mp4,mjpeg
		stream.html?src=rtsp%3A%2F%2FADMIN%3A1234%4069.74.63.73%3A554%2Fstream1_1:64 src:  undefined
		video-stream.js:20 stream.oninit
		video-stream.js:51 stream.onconnect
		video-stream.js:63 stream.onopen
		video-stream.js:67 stream.onmessge {type: 'mse', value: 'video/mp4; codecs="hvc1.1.6.L153.B0"'}
		video-stream.js:67 stream.onmessge {type: 'error', value: 'webrtc/offer: codecs not match: H265,VND.ONVIF.METADATA'}
		*/
		console.log('search:: ', location.search)
		const params = new URLSearchParams(location.search);
		
		// support multiple streams and multiple modes
		const streams = [];//params.getAll("src");rtsp://ADMIN:1234@69.74.63.73:554/stream1_1
		if(strURL){
			streams.push(strURL);
		}
		const modes = [];//params.getAll("mode");
		if (modes.length === 0) modes.push("");

		while (modes.length > streams.length) {
			streams.push(streams[0]);
		}
		while (streams.length > modes.length) {
			modes.push(modes[0]);
		}

		if (streams.length > 1) {
			document.body.className = "flex";
		}
		
		console.log('modes: ', modes);
		
		const background = true;//params.get("background") !== "false";
		const width = "320px";//"1 0 " + (params.get("width") || "320px");
		console.log('streams: ', streams);
		
		const video = document.createElement("video-stream");
			video.background = background;
			//video.mode = webrtc,mse,mp4,mjpeg;//modes[i] || video.mode;
			video.style.flex = width;
			video.src = new URL("api/ws?src=" + encodeURIComponent(streams[0]), location.href);
			console.log('---- video details --- ')
			console.log('background: ', video.background);
			//console.log('mode: ', i, "/", modes[i],"/", video.mode);
			console.log('src: ', video.src);
			
		const theGrid = document.querySelector("#"+grid);
		theGrid.appendChild(video);
			//document.body.appendChild(video);
		
	}
	function setupGrid(gridSize){
		if(gridSize){
			hideChangeLayoutButton(gridSize);
			createGrid(gridSize);
		}
	}
	function hideChangeLayoutButton(gridSize){
		$('.layout').show();
		$('.layout_'+gridSize).hide();
		console.log('hideChangebutton: ', gridSize);
	}
	$('.layout').click(function(){
		console.log($(this).data('grid'));
		var grd = $(this).data('grid');
		if(grd){
			setupGrid(grd);
		}
	});
	function createGrid(gridSize){

		if(gridSize){
			var gridArr = gridSize.split("X");
			var gridHtml = '';
			var rowCount = Number(gridArr[1]);
			var colCount = Number(gridArr[0]);
			if(rowCount > 0 && colCount > 0){
				$('.grid-container').empty();
				let aspect_ratio = 3/5;
				var gridItem_wid = Math.floor($('.grid-container').width() / rowCount)-2;
				var gridItem_ht = Math.floor(gridItem_wid * aspect_ratio)-2;
				console.log('crete grid called : ', gridSize, ' : ', $('#streams').width(), ' : ', $('.grid-container').width(), ' w ', gridItem_wid,  ' h ', gridItem_ht);			
				
				for(var rr=0;rr<rowCount;rr++){
						for(var cc=0;cc<colCount;cc++){
							gridHtml+= '<div class="grid_item" id="grid_'+(rr+1)+'_'+(cc+1)+'" style="width:'+gridItem_wid+'px; height:'+gridItem_ht+'px;">';
							/*gridHtml+= '<video class="basevideo video_'+(rr+1)+'_'+(cc+1)+'" playsinline="" width="100%" height="100%"></video>';*/
							gridHtml+= '</div>';
						}
				}
				$('.grid-container').append(gridHtml);
			}
			
		}
	}
	//--------------------------
    reload();
	addStreamList();
	//Create required grid; - change layouts here
	setupGrid("6X6");
</script>
</body>
</html>